profiles {

    standard {
        process.executor = 'local'
    }

    cluster{
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'

        executor.queueSize=1000
        executor.perJobMemLimit=true
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'
        conda.createTimeout = "30 min"
    } 
}

params{
    query_10x_dir = "${baseDir}/data/10x_data"
    results_dir = "${baseDir}/data/outputs" // output for outer workflow
    classifiers = "${baseDir}/data/classifiers/*"
    cluster_extend = "TRUE"
    cds_gene_id_type = "ENSEMBL" 
    database = "org.Hs.eg.db"
    rank_prob_ratio = ""
    predicted_cell_type_field = "cluster_ext_type"
    label_dir = ""

}